<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>helloServlet</servlet-name>
        <servlet-class>com.danilermolenko.javaee.project.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>helloServlet</servlet-name>
        <url-pattern>/hello-servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>setCookies</servlet-name>
        <servlet-class>com.danilermolenko.javaee.project.SetCookiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>setCookies</servlet-name>
        <url-pattern>/setCookies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getCookies</servlet-name>
        <servlet-class>com.danilermolenko.javaee.project.GetCookiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getCookies</servlet-name>
        <url-pattern>/getCookies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteCookies</servlet-name>
        <servlet-class>com.danilermolenko.javaee.project.DeleteCookiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteCookies</servlet-name>
        <url-pattern>/deleteCookies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JspView</servlet-name>
        <jsp-file>/someview.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>JspView</servlet-name>
        <url-pattern>/hello-servlet-jsp</url-pattern>
    </servlet-mapping>

</web-app>